html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(img/159517-Batman-Green_Riddle-The_Riddler-748x468.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.lm-row{
    border-radius: 22px;
    background: #e7eee7;
    box-shadow: inset -31px -31px 19px #d7ddd7,
            inset 31px 31px 19px #f7fff7;
    padding: 20px;
}

.red{
    color:red;
}
.remove{
    display: none;
}
.green{
    color:green;
}

h1{
    font-size: 3.5rem!important;
}
#result{
    font-size: 1.5rem;
}
